.projects__wrapper {
	display: flex;
	padding: 0 30px;
	flex-direction: column;
}

.projects__title {
	display: flex;
	flex-direction: column;
	max-width: 600px;
}

.projects__title h1 {
	font-size: 40px;
}

.projects__title p {
	font-size: 20px;
	color: #262525;
}

.our__parnters {
	display: grid;
	gap: 24px;
	grid-template-columns: repeat(3, 1fr);
}

.our__parnters svg{
	position: absolute;
	top: 10px;
	right: 10px;
}

.our__parnters img {
	align-items: center;
}

.img__bg {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 284px;
	position: relative;
	justify-content: center;
	background: #FFF;
	border-radius: 6px;
	border: 1px solid grey;
	padding: 10px;
}