.partners_info {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 30px;
	padding: 0 30px;
	background: #fff;
}

.partners_title {
	max-width: 900px;
}

.partners_info h1 {
	font-size: 40px;
}

.partners_info p {
	font-size: 20px;
	color: #262525;
}

.partners_slider {
	width: 100%;
	overflow: hidden;
	margin: 60px 0;
}

.partners_track {
	display: flex;
	width: max-content;
	animation: partnersMove 90s linear infinite;
}

.partners_group {
	display: flex;
	align-items: center;
	gap: 100px;
	flex-shrink: 0;
	padding-right: 100px;
}

.partners_group img {
	width: 180px;
	height: 100px;
	object-fit: contain;
	flex-shrink: 0;
}

@keyframes partnersMove {

	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-50%);
	}

}