.about__info {
	display: flex;
	align-items: center;
	padding: 0 30px;
	justify-content: space-between;
}

.about__title {
	max-width: 600px;
}

.about__title p:nth-of-type(1),
.about__title h1 {
	color: #555454;
}
.about__title p:nth-of-type(2){
	font-weight: 700;
}

.about__info h1 {
	font-size: 56px;
	font-weight: 500;
	text-transform: uppercase;
}

.about__info p {
	font-size: 20px;
}

.about__info button {
	display: flex;
	cursor: pointer;
	align-items: center;
	gap: 20px;
	margin-top: 50px;
	background: #031138;
	border: none;
	color: #FFF;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 6px;
}

.btn__charger {
	display: flex;
	align-items: center;
	gap: 30px;
}

.about__dsp {
	padding: 30px;
	color: #FFF;
	background: #303030;
}

.dsp__title {
	max-width: 800px;
}

.scooter__title h1,
.about__dsp h1 {
	font-size: 35px;
	font-weight: 500;
}

.about__qwatt p,
.about__dsp p {
	font-size: 25px;
}

.scooter__title p>span {
	font-weight: 700;
}

.about__qwatt {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}
.qwatt__subtitle_phone {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.qwatt__subtitle{
	display: flex;
	flex-direction: column;
}
.qwatt__title {
	display: flex;
	justify-content: space-between;
}

.about__charger {
	display: flex;
	justify-content: space-between;
	padding: 40px;
}

.about__charger button {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 20px;
	box-shadow: 0 20px 36px 0 #00000029;
	margin-top: 50px;
	background: #FFF;
	border: none;
	font-size: 20px;
	padding: 10px 30px;
	border-radius: 20px;
}

.about__charger button:hover {
	transition: 0.5s;
	background: #dedede;
}

.super__charger {
	display: flex;
	justify-content: space-between;
	padding: 0 30px;
}

.about__charger_flex {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 20px;
	gap: 20px;
}

.bg_color__about {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-width: 380px;
	border-radius: 20px;
	padding: 0 10px;
	box-shadow: 0 20px 36px 0 #00000029;
	background: #FFF;
}

.bg_color__about p {
	font-size: 25px;
}