.about__video {
    display: flex;
    align-items: center;
    height: 738px;
    margin-top: -28px;
    background: url("../../assets/image/tjk.png") no-repeat center / cover;
    justify-content: center;
}

.about__video video {
    border-radius: 10px;

}

.about__imagess {
    display: flex;
    padding: 100px 40px;
    justify-content: space-between;
}

.images__title {
    max-width: 650px;
}

.images__title h1 {
    font-size: 35px;
}

.images__title p {
    font-size: 25px;
}
.about__page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.about__page > .about__video__wrapper {
    flex: 1;
}